{% extends 'layout/index.html'%}

{% block title%} 
	Danh sách Sản Phẩm Hết Hàng
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}


{% block content %}

<div class="wrapper">

<div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <section class="content-header">
          <h1>
            Danh sách Sản Phẩm Hết Hàng
            <small></small>
          </h1>
          
        </section>


        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                <h3 class="box-title" >Danh sách Sản Phẩm Hết Hàng</h3>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success alert-dismissable">{{ message }}</div>
                        {% endif %}

                        {% if message.tags == "error" %}
                            <hdiv3 class="alert alert-danger alert-dismissable">{{ message }}</div>
                        {% endif %}

                    {% endfor %}
                {% endif %}


                </div><!-- /.box-header -->
                <div class="box-body">
                <a href="/san-pham/them-san-pham.html" class="btn bg-navy btn-flat margin"><i class="fa fa-plus" > Thêm Sản Phẩm</i></a>
                <a target="_blank" href="/thong-ke/export-san-pham-het-hang.html" class="btn bg-navy btn-flat margin"><i class="fa fa-plus" > Export Data to CSV File</i></a>

                  <table id="data" class="table table-bordered table-striped">

                    <thead>
                      <tr>
                        <th> Tên Sách</th>
                        <th>Thể Loại</th>
                        <th>Hình Ảnh</th>
                        <th>Số Lượng</th>
                        <th>Giá</th>
                        <th>Xử Lý</th>
                      </tr>
                    </thead>
                    <tbody>
                            
                    {% if products %}
                            {% for product in products %}
                            <tr>
                                <td>
                                    {{ product.name}}
                                </td>
                                <td>
                                    {{ product.theloai}}
                                </td>
                                <td>
                                     <img src="/static/upload/product/{{ product.hinh}}" alt="{{ product.name}}" width="150px">
                                </td>
                                <td>
                                    {{ product.soluong}}
                                </td>
                                <td>
                                    {{ product.gia}}
                                </td>
                                <td>
                                    <a href="/san-pham/sua-san-pham/{{ product.id }} " class="btn bg-navy btn-flat margin"><i class="fa fa-pencil-square-o" >&nbsp;Edit</i></a>
                                    <a href="/san-pham/xoa/{{ product.id }} " class="btn bg-navy btn-flat margin"><i class="fa fa-times" >&nbsp;Delete </i></a> 
                                </td>
                            </tr>
                            
                            {% endfor %}
                    {% endif %}
                    
                    </tbody>
                  </table>

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</div>


{% endblock %}

{% block js %}
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
      $(function () {
        $('#data').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true
        });
      });
    </script>
{% endblock %}